@import (inline) url(http://fonts.googleapis.com/css?family=Open+Sans:600,400,300);

@card-shadow: inset 1px 2px 2px rgba(0,0,0,0.15);
@card-border: 1px solid transparent;
@card-border-radius: 20px;
@font-family: 'Open Sans', sans-serif;
@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-bold: 600;

.zoom(@scale) {
	zoom: @scale;
	-moz-transform: scale(@scale);
	-moz-transform-origin: 0 0;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}

.icon {
	display: inline-block; 
}

.input-group-addon {
	color: darken(white, 20%);
}

.jumbotron {
	padding-bottom: 34px;
	margin-bottom: 15px;
	color: darken(white, 5%);
	
	.container {
		h1 {
			margin-bottom: 38px;
			font-family: @font-family;
			font-weight: @font-weight-light;
		}
	}
}

.version {
	position: absolute;
	top: 16px;
	right: 48px;
	
	font-family: @font-family;
	font-weight: @font-weight-light;
	font-size: 11px;
	
	color: lighten(#336699, 10%);
}

.header {
	margin-top: 30px;
	margin-bottom: 20px;
}

.calculator {	
	margin-top: 60px;
	
	h1,h2,h3,h4,h5,h6 {
		font-family: @font-family;
		font-weight: @font-weight-light;
	}
	
	.form-group {
		.control-label {
			font-size: 23px;
			font-family: @font-family;
			font-weight: @font-weight-light;
		}
		
		.btn {
			font-size: 18px;
			font-family: @font-family;
			font-weight: @font-weight-light;
		}
		
		.input-group {
			font-size: 17px;
			font-family: @font-family;
			font-weight: @font-weight-light;
		}
		
		button[type=submit] {
			font-weight: @font-weight-bold;
		}
	}
}