<!DOCTYPE html>
<html lang="en" data-ng-app="afgiftCalc">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Afgift beregner efter sænkelsen af afgiften i Danmark fra 180% til 150%">
  <meta name="author" content="Michael Dahl (micdah@gmail.com)">

  <title>Hvad skal bilen koste?</title>

  <link href="css/all.min.css" rel="stylesheet">
  <script src="js/lib.min.js"></script>
</head>

<body data-ng-controller="PageController as ctrl">
  <div class="source-code"></div>
  <div class="version" data-ng-cloak>
    <a href="https://bitbucket.org/micdah/afgift-dk/" target="_blank" alt="Source code at bitbucket.org">{{ctrl.version}}</a>
  </div>

  <div class="jumbotron">
    <div class="container">
      <h1>
          Hvad skal bilen koste?
          <h2>
              Ny finanslov per 1. Januar 2016
          </h2>
        </h1>
      <p>
        Der er fremlagt forslag til en reducering af registreringsafgiften i den nye finanslov, hvilket vil betyde en reduktion fra
        <strong>180%</strong> til <strong>150%</strong> for den del af bilens pris som overstiger kr 82.800,-.
      </p>
    </div>
  </div>
  <div class="container calculator">  
    <div class="row">
      <div class="col-sm-12">
      </div>
      <div class="col-sm-6">
        <form class="form-horizontal" data-ng-submit="SubmitForm()">
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-success" data-ng-model="newOrUsed" data-ng-change="Changed()" data-uib-btn-radio="'Used'">Brugt bil</label>
                <label class="btn btn-success" data-ng-model="newOrUsed" data-ng-change="Changed()" data-uib-btn-radio="'New'">Ny bil</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Pris</label>
            <div class="col-sm-6">
              <div class="input-group">
                <div class="input-group-addon">kr</div>
                <input type="text" class="form-control" placeholder="Pris nu, inden ændring" data-ng-model="price"/>
              </div>
            </div>
          </div>
          <div class="form-group" data-ng-show="newOrUsed == 'Used'">
            <label class="col-sm-4 control-label">Nypris</label>
            <div class="col-sm-6">
              <div class="input-group">
                <div class="input-group-addon">kr</div>
                <input type="text" class="form-control" placeholder="Nypris da den blev købt" data-ng-model="newPrice"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
              <button type="submit" class="btn btn-success pull-right">Beregn</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-6">
        <h2 class="ng-cloak" data-ng-show="newOrUsed == 'Used'">Brugt pris efter 1. Januar: </h2>
        <h2 class="ng-cloak" data-ng-show="newOrUsed == 'New'">Ny pris, efter 1. Januar: </h2>
        <h1><strong>kr {{result.price | number:0}}<span class="ng-cloak" data-ng-show="result.price">,-</span></strong></h1>
        <p>Besparelse: <span class="ng-cloak" data-ng-show="result.reduction"><strong>{{result.reductionPercent | number:0}}%</strong> (kr {{result.reduction | number:0}},-)</span></p>
      </div>
    </div>
  </div>
  <script src="js/app.min.js"></script>
</body>

</html>